<div class="container">
  <h2>Game #{{game.game_ref}} </h2>

  <div>
    <table>
      <tr *ngFor="let row of game.game_steps[readhead]; let ir = index">
        <td *ngFor="let col of row; let ic = index">
          {{game.game_steps[readhead][ir][ic] == null ? "_" : game.game_steps[readhead][ir][ic] }}
        </td>
      </tr>
    </table>
    <h3 class="results">
      <button (click)="moveReadhead(-1)">prev</button>
      <button (click)="moveReadhead(1)">Next </button>
    </h3>
  </div>
</div>
